### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1281]:
import pandas as pd
csv_file= "Resources/purchase_data.csv"
purchase_data = pd.read_csv(csv_file)

## Player Count

* Display the total number of players

In [1282]:
unique_players = len(purchase_data["SN"].value_counts())
total_players = pd.DataFrame({"Total Players":[unique_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1283]:
unique_items = len(purchase_data['Item ID'].value_counts())
average_price = purchase_data['Price'].mean()
number_of_purchases = purchase_data['SN'].count()
total_revenue = purchase_data['Price'].sum()

summary = {'Number of Unique Items': [unique_items],'Average Price' : [average_price], 
            'Number of Purchases' : [number_of_purchases], 'Total Revenue' : [total_revenue]}
summary_df = pd.DataFrame(summary)

summary_df['Average Price'] = summary_df['Average Price'].map('${:.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:.2f}'.format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1284]:
unique_gender_count_df = purchase_data[['Gender','SN']].drop_duplicates(subset = 'SN')
gender_count = unique_gender_count_df['Gender'].value_counts(0)
gender_percent = unique_gender_count_df['Gender'].value_counts(1)

gender_demographics = pd.DataFrame({'Total Count': gender_count,'Percentage of Players': gender_percent})
gender_demographics['Percentage of Players']= gender_demographics['Percentage of Players'].map('{:,.2%}'.format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1285]:
player_grouping = purchase_data.groupby('Gender')
#Count of Unique players
total_count_players = player_grouping.nunique()["SN"]

purchase_count_gender = player_grouping['Purchase ID'].count()
avg_purchase_price = player_grouping['Price'].mean()
total_purchase_value = player_grouping['Price'].sum()

# Average purchase by gender divided by the count of unique players
avg_purchase_per_person = total_purchase_value/total_count_players

purchase_analysis = pd.DataFrame({'Purchase Count': purchase_count_gender, 
                                    'Average Purchase Price': avg_purchase_price,
                                    'Total Purchase Value':total_purchase_value,
                                    'Avg Total Purchase per Person': avg_purchase_per_person})

purchase_analysis.index.name = "Gender"

purchase_analysis.style.format({'Average Purchase Price':'${:,.2f}',
                                'Total Purchase Value':'${:,.2f}', 
                                  'Avg Total Purchase per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1286]:
age_players = purchase_data[['Age','SN']].drop_duplicates(subset = 'SN')

bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_group = pd.cut(age_players['Age'], bins, labels=bin_labels)

age_demographics_df = pd.DataFrame(age_group.value_counts())
age_demographics_df['Percentage of Players'] = (age_demographics_df['Age']/unique_players).map("{:.2%}".format)

age_demographics_df.columns = ['Total Count', 'Percentage of Players']
age_demographics_df.reindex(bin_labels)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1287]:
#Add purchase data in Age Group 
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels = bin_labels)

age_counts = purchase_data.groupby(['Age Group']).count() ['Price']
age_avg = purchase_data.groupby(['Age Group']).mean()['Price']
age_total_purchase = purchase_data.groupby(['Age Group']).sum()['Price']

#Find average based on each age group
age_total_purchase_per_person = age_total_purchase / age_demographics_df['Total Count']

purchasing_analysis_age = pd.DataFrame({'Purchase Count': age_counts, 
                                        'Average Purchase Price' : age_avg, 
                                        'Total Purchase Value': age_total_purchase, 
                                        'Avg Total Purchase per Person': age_total_purchase_per_person})

purchasing_analysis_age.index.name = 'Age Ranges'

purchasing_analysis_age['Total Purchase Value'] = purchasing_analysis_age["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_age['Average Purchase Price'] = purchasing_analysis_age['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis_age['Avg Total Purchase per Person'] = purchasing_analysis_age['Avg Total Purchase per Person'].map('${:,.2f}'.format)

purchasing_analysis_age.index.name = 'Age Ranges'
purchasing_analysis_age.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']

purchasing_analysis_age.reindex(bin_labels)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1288]:
spender_data = purchase_data.groupby('SN')

number_of_purchases_per_spender = spender_data['Purchase ID'].count()
avg_purchase_price_per_spender = spender_data["Price"].mean()
total_purchase_spender = spender_data["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": number_of_purchases_per_spender,
                             "Average Purchase Price": avg_purchase_price_per_spender,
                             "Total Purchase Value":total_purchase_spender})

top_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1289]:
items_info = purchase_data[["Item ID", "Item Name", "Price"]]
item_list_group = items_info.groupby(["Item ID","Item Name"])

no_of_items_purchased = item_list_group["Price"].count()
item_purchase_value = (item_list_group["Price"].sum()) 
item_price = item_purchase_value/no_of_items_purchased

most_popular_items = pd.DataFrame({"Purchase Count": no_of_items_purchased, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_purchase_value})


most_popular_items_ft = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_ft.style.format({'Item Price':'${:,.2f}', 'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [1290]:
most_profitable_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
most_profitable_items.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})